<ion-view view-title="DiD It" hide-back-button='true'>
    <ion-content class='padding'>
      <div class='profile-picture-container'>
        <img ng-src="img/default-profile.png" class='profile-picture'/>
      </div>
      <div class='list list-inset'>
              <label class="item item-input">
                  <input type="email" required placeholder="Username" name='txtUsername' ng-model='user.username'>
              </label>
              <label class="item item-input">
                  <input type="password" required placeholder="Password" ng-model='user.password'>
              </label>
              <br>
              <button class="button button-block button-custom" ng-click='login(user)'>
              <strong>Login</strong>
            </button>
          <p></p>
      </div>
    </ion-content>
</ion-view>
