<ion-view on-swipe-left="addOneWeek()" on-swipe-right="substractOneWeek()" view-title="{{'Week ' + weekCount}}" hide-back-button='true'>

    <ion-nav-buttons side="right">
<!--
        <button class="button button-clear" ui-sref='leftSideMenu'>
            <i class='icon ion-ios-plus-outline'></i>
        </button>
-->
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-clear custom-color" ng-click='showActionSheet()'>
            <i class='icon ion-navicon'></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear custom-color" ng-hide="expressImportState" ng-click='ExpressImport()'>
            Express<br>Import
        </button>
        <button class="button button-clear custom-color" ng-disabled='true' ng-show="expressImportState" ng-click=''>
            Pending<br>Import
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh='refreshData()'></ion-refresher>
        <ion-list>
            <ion-item ng-repeat='day in weeklyTimesheet'>
                <div class="row">
                    <div class="col">{{day.date}}</div>
                    <div class="col">{{day.hours}} h</div>
                    <div class="col">
                        <button class="button button-small button-clear" ui-sref='dayProgress({selectedDate :day.dateFull})'>
                            <i class='icon icon-approved' ng-show={{day.state}}></i>
                            <i class='icon icon-suggested' ng-hide={{day.state}}></i>
                        </button>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <br>
        <div class="padding">
            <center>
               <div class="table">
                  <div class="row">
                   <div class="col"><div class="numberCircle confirmed">{{summaryHours[0]}}h</div></div>
                   <div class="col"><div class="numberCircle unconfirmed">{{summaryHours[1]}}h</div></div>
                   <div class="col"><div class="numberCircle ignored">{{summaryHours[2]}}h</div></div>
                  </div>
                  <div class="row">
                   <div class="col">Confirmed</div>
                   <div class="col">Unconfirmed</div>
                   <div class="col">Ignored</div>
                  </div>
               </div>
            </center>
            <br>
            <button class="button button-block button-balanced" ng-show="stateWeek=='DidIt'" ng-click='ApproveWeek()'>
                This is What I DID
            </button>
            <center class="padding">
               <button ng-disabled="true" class=" button button-block button-outline button-balanced" ng-show="stateWeek=='Confirmed'">Confirmed</button>
<!--                <img ng-src="img/success.png" class="img-approved" alt="" ng-show="stateWeek=='Confirmed'">-->
            </center>
        </div>
    </ion-content>
</ion-view>
