<ion-view view-title="Mobile Hackathon">
    <ion-content class=padding>
      <div class="list">
        <br>
        <label class="item item-input">
          <span class="input-label">Start Time</span>
            <span>{{project.startTime}}</span>
        </label>
        <label class="item item-input">
          <span class="input-label">End Time</span>
            <span>{{project.endTime}}</span>
        </label>
        <br><br>
        <label class="item item-input">
          <span class="input-label">Duration</span>
          <span>{{project.duration}}</span>
        </label>
        <br>
        <br>
        <label class="item item-input item-select">
          <div class="input-label">
            Customer
          </div>
          <select ng-model='customerTitle' ng-disabled="project.state=='Approved'" ng-change='setSelectedCustomer(customerTitle)' ng-options='customer.title for customer in customerList track by customer.title'>
          </select>
        </label>
         <label class="item item-input item-select">
          <div class="input-label">
            Project
          </div>
          <select ng-model='projectTitle' ng-disabled="project.state=='Approved'" ng-change='setSelectedProject(projectTitle)' ng-options='project.title for project in filteredProjects track by project.title'>
          </select>
        </label>
        <br><br>
      </div>
      <div class="button-bar button-bar-bg">
        <button class="button button-icon button-dark button-clear" ng-click="updateStatePrivate()" ng-disabled="project.state=='Approved'"><i class="icon ion-ios-locked"></i></button>
        <button class="button button-icon button-balanced button-clear" ng-disabled="project.state=='Approved'"><i class="icon ion-ios-checkmark"></i></button>
        <button class="button button-icon button-assertive button-clear" ng-disabled="project.state=='Approved'"><i class="icon ion-ios-close"></i></button>
      </div>
    </ion-content>
</ion-view>
