/* Empty. Add your own CSS if you like */
.profile-picture-container {
  margin:30px;
  text-align:center;
}
.logo{
  height: 60vw;
  width: 60vw;
  padding-top: 40px;
}
.bar-custom{
  background-color: #0092a7;
}
.button.button-custom{
    background-color: #0092a7;
    color: black;
    border-style:hidden;;
}
.button .button-block .button-energized{
  background-color: orange;
  margin-top:15px;
}
.button.button-block.button-balanced{
  background-color: #4caf50;
}
.icon-approved{
  content: url('icons/icon-approved.png');
  width: 35px;
  height: 35px;
}
.icon-suggested{
  content: url('icons/icon-pending.png');
  width: 33px;
  height: 33px;
}
.icon-edit{
  content: url('icons/icon-edit.png');
  width: 40px;
  height: 35px;
}
.icon-ignore{
  content: url('icons/icon-ignore.png');
  width: 35px;
  height: 35px;
}
.icon-private{
  content: url('icons/private.png');
  width: 30px;
  height: 30px;
}
.icon-username{
  content: url('icons/icon-username.png');
  width: 20px;
  height: 15px;
}
.icon-password{
  content: url('icons/icon-password.png');
  width: 25px;
  height: 17px;
}
.icon-import{
  content: url('icons/icon-import.png');
  width: 25px;
  height: 25px;
}
.icon-hourglass{
  content: url('icons/icon-hourglass.png');
  width: 16px;
  height: 23px;
}
.icon-confirm{
  content: url('icons/icon-approved.png');
  width: 50px;
  height: 50px;
}
.icon-privateignore{
  content: url('icons/icon-ignore.png');
  width: 50px;
  height: 50px;
}
.icon-coffee{
  content: url('icons/icon-coffee.png');
  width: 35px;
  height: 35px;
}
.button-bar.button-bar-bg{
  background-color: #FDF3E2;
}
.badge-note{
    font-size: 13px;
    color: #BDC7C7;
}
.badge-status{
    margin-left: 2%;
    width: 16vw !important;
    line-height: 30px;
/*    border-radius: 50px;*/
    color: Black !important;
    font-size: 3.5vw;
}
.img-approved{
    /*height: 12vw;
    width: 60vw;  */
}
.img-username{
    height: 15% !important;
    width: 55% !important;
}
.img-password{
    height: 15% !important;
    width: 55% !important;
}
.img-import{
    height: 15% !important;
    width: 55% !important;
}
.dataload-image-container{
    margin-top: 20vw;
    margin-bottom: 20vw;
}
.dataload-image{
    margin-top: 20vw;
    margin-bottom: 20vw;
}
.success-message{
    color: green;
    white-space: normal;
}
.ion-item.icon-badge {
  padding-right: 80px; /* This value seems enough for a commonly-maxed 99+ or 999 badge. */
}
.icon-ignore-hours{
    content: url('icons/ignoredHours.png');
    width: 30px;
    height: 30px;
}
.badge.badge-balanced{
    background-color: #4caf50;
}
.badge.badge-energized{
    background-color: #F2961B;
}
.badge.badge-assertive{
    background-color: #f44336;
}
.item-button-right{
    padding-right: 25vw;
}
.numberCircle{
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width:15vw ;
    height: 15vw;
    padding-top: 5vw;

    background: #fff;
    border: 2px solid green;
    color: #666;
    text-align: center;

    font: 3.5vw Arial, sans-serif;
}
.numberCircle.confirmed{
    border: 2px solid #4caf50;
}
.numberCircle.unconfirmed{
    border: 2px solid #F2961B;
}
.numberCircle.ignored{
    border: 2px solid #f44336;
}
/*.buttonCircle{
    border-radius: 50%;
    behavior: url(PIE.htc);

    width:10vw ;
    height: 12vw;
    padding: 1vw;
    padding-top: 2.1vw;

    background: #fff;
    border: 2px solid green;
    color: #666;
    text-align: center;

    font: 3.5vw Arial, sans-serif;
}
.buttonCircle.private{
    border: 2px solid #929292;
    height: 10vw !important;
    width: 10vw !important;
}
.buttonCircle.confirm{
    border: 2px solid #6B9C68;
    height: 10vw !important;
    width: 10vw !important;
}
.buttonCircle.ignore{
    border: 2px solid #D56161;
    height: 10vw !important;
    width: 10vw !important;
}*/
.button-clear.custom-color{
    color: black;
    line-height:15px;
}
.bar .button.button-clear {
    font-size: 15px;
    font-weight:400;
    color: Black;
}
.login-bg{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f4f4+0,d2d8db+49,f2f4f4+99 */
background: #f2f4f4; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f4f4 0%, #d2d8db 49%, #f2f4f4 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f4f4), color-stop(49%,#d2d8db), color-stop(99%,#f2f4f4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f4f4 0%,#d2d8db 49%,#f2f4f4 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f4f4 0%,#d2d8db 49%,#f2f4f4 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f4f4 0%,#d2d8db 49%,#f2f4f4 99%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f4f4 0%,#d2d8db 49%,#f2f4f4 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4f4', endColorstr='#f2f4f4',GradientType=0 ); /* IE6-9 */
}
.login-bg-1{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
background: #3f4c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

}
.login-bg.padding{
  padding: 70px;
}
.card, .list-inset.login-panel {
  background: transparent;
}
.item-complex .item-content, .item-radio .item-content {
  padding: 10px 16px 5px 16px !important;
 }
 .item-input.login-input{
   background-color: transparent;
   border-left: 0px;
   border-right: 0px;
   border-color: black;
 }
 .row .col.hint-row{
   font-size: 12px;
   color: #7D7B79;
   padding: 0px;
   text-align: right;
 }
 .row .col.hint-row.right{
   text-align: right;
 }
 .row .col.hint-row.left{
   text-align: left;
 }
 .row .col.hint-row.center{
   text-align: center;
 }
 .popup-buttons .button {
    background-color: #0092a7;
    border-color: #0092a7;
}
.item-input.login-text-color input {
    color: black;
}
.didbutton-container{
  padding-left: 50px;
  padding-right: 50px;
}
.confirmMsg-container{
  padding-top: 20px;
}
.login-padding{
  padding-right: 50px;
  padding-left: 50px;
}