/* Empty. Add your own CSS if you like */
.profile-picture-container {
  margin:30px;
  padding-top:20px;
  text-align:center;
}
.profile-picture{
  height: 200px;
  width: 150px;
}
.bar-custom{
  background-color: #0092a7;
}
.button.button-custom{
    background-color: #0092a7;
    color: black;
    border-style:hidden;;
}
.button .button-block .button-energized{
  background-color: orange;
  margin-top:15px;
}
.icon-approved{
  content: url('icons/icon-approved.png');
  width: 30px;
  height: 30px;
}
.icon-suggested{
  content: url('icons/icon-pending.png');
  width: 30px;
  height: 30px;
}
.icon-edit{
  content: url('icons/icon-edit.png');
  width: 30px;
  height: 30px;
  margin-top: 4px
}
.icon-ignore{
  content: url('icons/icon-ignore.png');
  width: 30px;
  height: 30px;
}
.icon-private{
  content: url('icons/private.png');
  width: 30px;
  height: 30px;
}
.icon-username{
  content: url('icons/icon-username.png');
  width: 25px;
  height: 25px;
}
.icon-password{
  content: url('icons/icon-password.png');
  width: 25px;
  height: 25px;
}
.icon-import{
  content: url('icons/icon-import.png');
  width: 25px;
  height: 25px;
}
.icon-hourglass{
  content: url('icons/icon-hourglass.png');
  width: 16px;
  height: 23px;
}
.icon-confirm{
  content: url('icons/icon-confirm.png');
  width: 40px;
  height: 40px;
}
.icon-privateignore{
  content: url('icons/icon-privateignore.png');
  width: 40px;
  height: 40px;
}
.icon-coffee{
  content: url('icons/icon-coffee.png');
  width: 30px;
  height: 25px;
}
.button-bar.button-bar-bg{
  background-color: #FDF3E2;
}
.badge-note{
    font-size: 13px;
    color: #BDC7C7;
}
.badge-status{
    margin-left: 2%;
    width: 16vw !important;
    line-height: 30px;
/*    border-radius: 50px;*/
    color: Black !important;
    font-size: 3.5vw;
}
.img-approved{
    height: 20% !important;
    width: 55% !important;
}
.img-username{
    height: 15% !important;
    width: 55% !important;
}
.img-password{
    height: 15% !important;
    width: 55% !important;
}
.img-import{
    height: 15% !important;
    width: 55% !important;
}
.success-image{
    margin-top: 50px;
    height: 50%;
    width: 50%;
    margin-bottom: 50px;
}
.success-message{
    color: green;
    white-space: normal;
}
.ion-item.icon-badge {
  padding-right: 80px; /* This value seems enough for a commonly-maxed 99+ or 999 badge. */
}
.icon-ignore-hours{
    content: url('icons/ignoredHours.png');
    width: 30px;
    height: 30px;
}
.badge.badge-balanced{
    background-color: #6B9C68;
}
.badge.badge-energized{
    background-color: #F2961B;
}
.badge.badge-assertive{
    background-color: #D56161;
}
.item.item-button-right .badge {
    right: 55px !important;
}
.item-button-right{
    padding-right: 85px;
}
.numberCircle{
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width:15vw ;
    height: 15vw;
    padding-top: 5vw;

    background: #fff;
    border: 2px solid green;
    color: #666;
    text-align: center;

    font: 3.5vw Arial, sans-serif;
}
.numberCircle.confirmed{
    border: 2px solid #6B9C68;
}
.numberCircle.unconfirmed{
    border: 2px solid #F2961B;
}
.numberCircle.ignored{
    border: 2px solid #D56161;
}
.buttonCircle{
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width:10vw ;
    height: 12vw;
    padding: 1vw;
    padding-top: 2.1vw;

    background: #fff;
    border: 2px solid green;
    color: #666;
    text-align: center;

    font: 3.5vw Arial, sans-serif;
}
.buttonCircle.private{
    border: 2px solid #929292;
    height: 10vw !important;
    width: 10vw !important;
}
.buttonCircle.confirm{
    border: 2px solid #6B9C68;
    height: 10vw !important;
    width: 10vw !important;
}
.buttonCircle.ignore{
    border: 2px solid #D56161;
    height: 10vw !important;
    width: 10vw !important;
}
.button-clear.custom-color{
    color: black;
    line-height:15px;
}
.bar .button.button-clear {
    font-size: 15px;
    font-weight:400;
    color: Black;
}
.text-confirmed{
  width: 200px;
  font-family: monospace;
  font-size: 30px;
  letter-spacing: 7px;
  color: #6B9C68;
  text-decoration:underline;
}
.login-bg{
  background: rgba(226,226,226,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(226,226,226,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: radial-gradient(ellipse at center, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
.login-bg.padding{
  padding: 60px;
}
.list-inset .item.item-input input{
  margin-left : 12px;
}
.item-complex .item-content, .item-radio .item-content {
  padding: 10px 16px 5px 16px !important;
 }
 .row .col.hint-row{
   font-size: 12px;
   color: #7D7B79;
   padding: 0px;
   text-align: right;
 }
 .row .col.hint-row.right{
   text-align: right;
 }
 .row .col.hint-row.left{
   text-align: left;
 }
 .row .col.hint-row.center{
   text-align: center;
 }
